version: "3.8"

services:

  frontend:
    build:
      context: ./docker/services/frontend
    restart: unless-stopped
    environment:
      ENV: ${ENV:-test}
      HOST: ${FRONTEND_INTERNAL_HOST:-0.0.0.0}
      PORT: ${FRONTEND_INTERNAL_PORT:-3000}
    ports:
      - ${FRONTEND_PORT:-80}:${FRONTEND_INTERNAL_PORT:-3000}
    volumes:
      - ./frontend:/app
      - ./docker/scripts:/scripts
