version: "3.8"

services:

  frontend:
    build:
      context: ./docker/services/frontend
    environment:
      ENV: ${ENV}
      HOST: ${FRONTEND_INTERNAL_HOST:-0.0.0.0}
      PORT: ${FRONTEND_INTERNAL_PORT:-3000}
    ports:
      - ${FRONTEND_PORT:-80}:${FRONTEND_INTERNAL_PORT:-3000}
    volumes:
      - ./frontend:/app
      - ./docker/scripts:/scripts

  webhooker:
    build:
      context: ./docker/services/webhooker
    ports:
      - 4000:4000
    volumes:
      - ./webhooker:/app
      - ./docker/scripts:/scripts

  tunnel:
    build:
      context: ./docker/services/tunnel
    command: lt --subdomain flatdragon-webhooker --local-host webhooker --port 4000
