name: Main Workflow

on:
  push:
    branches: 
      - main

env:
  ENV: pipeline

jobs:
  integration:
    name: Frontend Integration
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Main Branch
        uses: actions/checkout@v2

      - name: Build Frontend Container
        run: docker-compose build frontend

      - name: Cache Frontend Dependencies
        uses: actions/cache@v2
        with:
          path: /frontend/npm_cache
          key: frontend-node-modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            frontend-node-modules-

      - name:  Check Cache Out Of Container
        run: ls

      - name: Install Frontend Dependencies
        run: docker-compose run frontend npm ci --cache npm_cache --prefer-offline && exit 0

      - name: Lint Frontend
        run: docker-compose run frontend npm run lint --if-preset && exit 0

      - name: Test Frontend
        run: docker-compose run frontend npm run test --if-present && exit 0

      - name: Build Frontend
        run: docker-compose run frontend npm run build && exit 0
