name: Main Workflow

on:
  push:
    branches: 
      - main

env:
  ENV: pipeline

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Main Branch
        uses: actions/checkout@v2

      - name: Build Frontend Container
        run: docker-compose build frontend

      - name: Install Frontend Dependencies
        run: docker-compose run frontend npm ci && exit 0

      - name: Run Frontend Tests
        run: docker-compose run frontend npm run test --if-present && exit 0
